In [ ]:
import pandas as pd
import pyodbc

In [ ]:
# Caminho do arquivo do Access
db_path = r'S:\00_StartUp\40_Dados\Base_dados_Administrador.mdb'

In [ ]:
# String de conexão utilizando o driver ODBC para o Access
conn_str = (r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};'
            r'DBQ=' + db_path + ';')

In [ ]:
# Estabelecer conexão com o banco de dados
conn = pyodbc.connect(conn_str)

In [ ]:
# Consulta SQL para selecionar todos os dados de uma tabela
sql_query = "SELECT * FROM tab_Empresa order By APELIDO"  # Substitua NomeDaTabela pelo nome da tabela que você deseja consultar

In [ ]:

# Carregar os dados em um DataFrame do pandas
df = pd.read_sql(sql_query, conn)

# Fechar a conexão

In [51]:
print(df.APELIDO)

0                  3M
1               A.C&F
2                 ABB
3       ABB Guarulhos
4                 ABC
            ...
1747            Zobor
1748            Ztech
1749           Zurich
1750           Zurita
1751         Zuritech
Name: APELIDO, Length: 1752, dtype: object

In [ ]:
conn.close()