In [2]:
import pandas as pd
import seaborn as sns
data = pd.read_csv("M:\\exportaAI.csv", sep=';',decimal=',')

In [3]:
print (data)

                DateTime  Cap_Com_B1  Cap_Com_B2  Cap_Com_B3  Cap_Sts_B1  \
0      15/08/23 11:27:46           0           1           0           0
1      15/08/23 11:32:46           0           1           0           0
2      15/08/23 11:37:46           0           1           0           0
3      15/08/23 11:42:46           0           1           0           0
4      15/08/23 11:47:46           0           1           0           0
...                  ...         ...         ...         ...         ...
43429  13/01/24 15:24:42           0           1           0           0
43430  13/01/24 15:29:42           0           1           0           0
43431  13/01/24 15:34:42           0           1           0           0
43432  13/01/24 15:39:42           0           1           0           0
43433  13/01/24 15:44:43           0           1           0           0

       Cap_Sts_B2  Cap_Sts_B3  Cap_Def_B1  Cap_Def_B2  Cap_Def_B3  ...  \
0               1           0           0           0           0  ...
1               1           0           0           0           0  ...
2               1           0           0           0           0  ...
3               1           0           0           0           0  ...
4               1           0           0           0           0  ...
...           ...         ...         ...         ...         ...  ...
43429           1           0           0           0           0  ...
43430           1           0           0           0           0  ...
43431           1           0           0           0           0  ...
43432           1           0           0           0           0  ...
43433           1           0           0           0           0  ...

       Eta_Sts_Boo1  Eta_Sts_Boo2  Eta_Sts_Vav1  Eta_Sts_Vav2  Eta_Sts_Vav3  \
0                 1             1             1             1             0
1                 1             1             1             1             0
2                 1             1             1             1             0
3                 1             1             1             1             0
4                 1             1             1             1             0
...             ...           ...           ...           ...           ...
43429             1             0             1             0             0
43430             1             0             1             0             0
43431             1             0             1             0             0
43432             1             0             1             0             0
43433             1             0             1             0             0

       Eta_Sts_Vav4  Eta_Sts_Vav5  Eta_Sts_Vav6  NivElevado  NivApoado
0                 0             0             1       19.72       2.88
1                 0             0             1       19.80       2.82
2                 0             0             1       19.85       2.77
3                 0             0             1       19.87       2.72
4                 0             0             1       19.92       2.67
...             ...           ...           ...         ...        ...
43429             0             1             1       19.91       3.52
43430             0             1             1       19.97       3.49
43431             0             1             1       20.03       3.45
43432             0             1             1       20.12       3.43
43433             0             1             1       20.20       3.40

[43434 rows x 39 columns]